.button {
  @include font(500, 18px, 21px);

  display: inline-block;
  font-family: inherit;
  padding: 15px 36px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &--white {
    color: $dark;
    background-color: $white;

    &:hover {
      background-color: $background-gray;
    }

    &:active {
      background-color: $light;
   }
  }

  &--blue {
    color: $background-gray;
    background-color: $blue;

    &:hover{
      background-color: $blue-opacity;
    }

    &:active {
      background-color: $footer-darkgrey;
   }
  }

  @media (max-width: $desktop-width - 1) {
    padding: 14px 31px 15px;
    font-size: 16px;
    line-height: 19px;
  }

  @media (max-width: $tablet-width - 1) {
    padding: 13px 31px 14px;
    font-size: 14px;
    line-height: 16px;
  }
}
