.title {
  @include reset-indent;
  @include font(700, 41px, 57px);

  margin-bottom: 50px;

  @media (max-width: $desktop-width - 1) {
    @include font(700, 32px, 45px);

    margin-bottom: 28px;
  }

  @media (max-width: $tablet-mobile-intermediate - 1) {
    @include font(700, 22px, 31px);

    margin-bottom: 20px;
  }
}
