$content-width: 1366px;
$desktop-width: 1024px;
$mobile-width: 320px;
$tablet-width: 768px;
$content-desktop-intermediate: 1250px;

$white: #FFFFFF;
$background-gray: #F6F7FF;
$black: #000000;
$dark: #1F1E25;

$blue: #2C36F2;
$blue-opacity: rgba(44, 54, 242, 0.7);
$footer-darkgrey: #707C87;
$line-grey: #C1C2CA;
$light: #E0E1EA;
$slogan-dark: #2B3C4F;

$button-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
$button-dark: #011C40;
$slider-button: #2028B6;
$slider-button-current: #E0E0E0;

$form-label: #394959;
$form-line: #C4C4C4;

$map-background: #FFFCF3;

$overlay: rgba(88, 87, 87, 0.6);
$error: rgba(255, 66, 66, 0.2);
