@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.slider-controls {
  &--hidden {
    @media (min-width: $tablet-width + 1) {
      display: none;
    }
  }
}

.slider-controls__list {
  @include list;

  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  bottom: 40px;

  @media (max-width: $desktop-width - 1) {
    bottom: 15px;

    &--tabs {
      bottom: 25px;
      left: 0;
    }
  }

  @media (max-width: $tablet-width - 1) {
    bottom: 9px;
  }
}

.slider-controls__item {
  padding-right: 8px;

  &:last-child {
    padding-right: 0;
  }

  @media (max-width: $tablet-width - 1) {
    padding-right: 6px;
  }
}

.slider-controls__button {
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $slider-button;
  border: none;

  &--current {
    background-color: $slider-button-current;
  }

  &--white {
    background-color: $title-light;
  }

  @media (max-width: $tablet-width - 1) {
    width: 6px;
    height: 6px;
  }
}
