@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.social {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  list-style: none;

  @media (max-width: $desktop-width - 1) {
    justify-content: flex-start;
  }
}

.social__item {
  @include reset-indent;

  margin-right: 14px;

  @media (max-width: $desktop-width - 1) {
    margin-right: 19px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link:hover,
.social__link:focus {
  path {
    fill: $blue;
  }
}

.social__link:active {
  path {
    fill: $footer-darkgrey;
  }
}
