@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.social {
  @include list;

  display: grid;
  grid-template-columns: repeat(4, 16px);
  gap: 14px;
  grid-template-rows: 16px;
  justify-items:center;

  @media (max-width: $desktop-width - 1) {
    grid-template-columns: repeat(7, 16px);
    margin-top: 14px;
    margin-left: -5px;
    gap: 19px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-left: 0;
  }
}

.social__item {
  @include reset-indent;
}

.social__link:hover,
.social__link:focus {
  path {
    fill: $blue;
  }
}

.social__link:active {
  path {
    fill: $footer-darkgrey;
  }
}
