@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.purpose-select {
  @include font(500, 16px, 22px);

  height: 60px;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 35px;
  font-family: inherit;
  border: 1px solid $dark;
  border-radius: 4px;
  color: $dark;
  background-color: $white;
  background-image: url("../../img/select-caret.svg");
  background-position: right 22px top 25px;
  background-repeat: no-repeat;
  appearance: none;
  cursor: pointer;

  @media (max-width: $desktop-width - 1) {
    margin-top: 5px;
    margin-bottom: 8px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 0;
    padding: 12px 10px;
    background-position: right 13px top 24px;
  }
}
