@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.purpose-select {
  @include font(500, 16px, 22px);

  width: 100%;
  margin-bottom: 35px;

  @media (max-width: $desktop-width - 1) {
    margin-top: 19px;
    margin-bottom: 8px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.purpose-select__value-container {
  padding: 18px 22px;

  @media (max-width: $tablet-width - 1) {
    padding: 18px 12px;
  }
}

.purpose-select__option {
  padding: 19px 22px;

  @media (max-width: $tablet-width - 1) {
    padding: 19px 12px;
  }
}

.purpose-select__indicator {
  padding: 16px 24px;

  @media (max-width: $tablet-width - 1) {
    padding: 16px 12px;
  }
}
