@import "../../sass/variables.scss";

.department-map {
  margin-bottom: 110px;

  @media (max-width: $desktop-width - 1) {
    margin-bottom: 85px;
  }

  @media (max-width: $tablet-mobile-intermediate - 1) {
    margin-bottom: 67px;
  }
}

.department-map__title {
  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }

  @media (max-width: $tablet-mobile-intermediate - 1) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.map {
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../img/map.jpg');
  background-position: center;
  background-size: cover;
  background-color: $map-background;

  @media (max-width: $tablet-mobile-intermediate - 1) {
    margin-left: -15px;
    margin-right:- 15px;
  }
}

.map__map {
  width: 100%;
  height: 462px;
}
