@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.credit-calc {
  padding-top: 95px;
  margin-bottom: 60px;

  @media (max-width: $desktop-width - 1) {
    padding-top: 68px;
    margin-bottom: 60px;
  }

  @media (max-width: $tablet-width - 1) {
    padding-top: 53px;
    margin-bottom: 53px;
  }
}

.credit-calc__sub-title {
  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }

  @media (max-width: $tablet-width - 1) {
    margin-bottom: 12px;
  }
}

.credit-calc__wrapper {
  display: grid;
  grid-template-columns: 51.5% 42.5%;
  column-gap: 6%;
  margin-bottom: 33px;

  @media (max-width: $desktop-width - 1) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
