@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.slider {
  position: relative;
  min-height: 400px;
  max-width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 60px;

  &--slide1 {
    background-color: $blue;
    background-image:
      linear-gradient(-180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%),
      linear-gradient(-180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%);
    background-size:
      500px 100%,
      500px 100%;
    background-position:
      top 0 left 0,
      right 0 bottom 0;

    @media (max-width: $tablet-mobile-intermediate - 1) {
      background-image: url("../../img/black-card.png");
      background-size: 105px 179px;
      background-position: top 29px right 0;
    }
  }

  &--slide2 {
    background-image: linear-gradient(to right, #DDE2EC 50%, #F3FAFF 50%);
  }

  &--slide3 {
    background-color: #E6F1FE;
  }

  @media (max-width: $desktop-width - 1) {
    min-height: 300px;
    margin-bottom: 0;
  }

  @media (max-width: $tablet-width - 1) {
    min-height: 226px;
  }
}

.slider__wrapper {
  display: flex;
  max-width: 100%;

  @media (max-width: $tablet-width) {
    scroll-snap-type: x proximity;
    overflow-x: scroll;
  }
}
